/** Montserrat Regular **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/droid/ttf/Montserrat-Regular.ttf') format('ttf');
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/montserrat/ttf/Montserrat-Italic.ttf') format('ttf');
