@import '../../../../styles/tailwind/colors.js';

.noHighlight {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

.saveButton {
  &:not(.stale) {
    @apply font-medium relative px-1 w-8 h-8 transition-all;
  }

  &.stale {
    @apply bg-red-400;
  }
}
